div ~ h3 {
  color: green;
}

ul li {
  color: brown;
  background-color: aqua;
}

ol > li {
  color: white;
  background-color: black;
}

h3,
h4,
h5 {
  color: blue;
}

h4 {
  background-color: aqua;
}
